<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket IO</title>
    <link rel="stylesheet" href="./Styles/chat.css" />
  </head>
  <body>
    <div class="container">
      <button type="button" class="logout" id="logout">Logout</button>
      <div class="row">
        
        <div id="username"></div>

        

        <div id="chat_content">
          <div class="messages" id="messages"></div>
        </div>
        <div class="input-user">
          <input 
            class="form-control input-patter"
            type="text"
            placeholder="Digite sua mensagem"
            id="message_input"
          />
          <div id="div-upload-arq" >
            <label for="inp-upload-arq"><img src="/uploadIcon.png" alt=""></label>
            <input type="file" name="arquivo" id="inp-upload-arq" accept=".jpg, .png">
          </div>
        </div>
      </div>

     

      

      <footer></footer>
    </div>

    <script type="text/javascript">
      this.room = "<%=room%>"
      this.username = "<%=username %>"
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"></script>
    <script src="/clientWS.js"></script>
  </body>
</html>