<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./Styles/editProfile.css" />
  <%- include('./partials/latealMenuHead') %>
    <title>Socket IO</title>
</head>

<body>
  <div class="container">
    <%- include('./partials/lateralMenu',{user}) %>
      <div class="div-profile">
        <form method="post" class="form-profile">
          <h1>Editar Perfil</h1>

          <h3>Olá <strong>
              <%= userName %>
            </strong></h3>
          <label for="form-userName" >Editar username</label>
          <input type="text" name="newuserName" placeholder="Username" class="input-patter" />
          
          <label for="form-senha">Digite sua senha atual</label>
          <input type="password" name="oldPassword" class="input-patter" placeholder="Senha Atual">
          <label for="form-label">Mudar Senha</label>
          <input type="password" name="newPassword" placeholder="Senha" class="input-patter" />
          <button type="submit" class="btn btn-primary mb-3">Salvar</button>
        </form>
      </div>
  </div>
</body>
<script>
  if(document.getElementsByName("newuserName").value.trim() == ""){
    alert("Preench")
  }
</script>
</html>