<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./Styles/style.css" />
  <title>Socket IO</title>
</head>

<body>
  <div class="container">
    <form method="post">
      <div class="row">
        <label for="form-label">Digite seu usuário</label>
        <input type="text" name="userName" placeholder="Username" class="input-patter" />
        <label for="form-label">Digite sua senha</label>
        <input type="password" name="password" placeholder="Senha" class="input-patter" />
      </div>

      <div class="row">
        <button type="submit" class="btn btn-primary mb-3">Entrar</button>
        <% if (typeof(msg_error)!="undefined" ) { %>
          <p>
            <%=msg_error%>
          </p>
          <%} 
        %>

      </div>
    </form>
  </div>
</body>

</html>