<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./Styles/roomsManager.css" />

    <title>Socket IO</title>
</head>

<body>
    <div class="container">
        <header class="lateral-menu">
            <section class="itens-menu">
                <span>Nome </span>
                <span> Username: </span>
                <span>Setor: </span>
                <span>Cargo: </span>
                <form action="/socialArea" method="post">
                    <button type="submit" id="btn-logout">Volta para Social Area</button>
                </form>
                <form action="/logout" method="post">
                    <button type="submit" id="btn-logout">Logout</button>
                </form>

                <% if (typeof(msg_error)!="undefined" ) { %>
                    <p>
                        <%=msg_error%>
                    </p>
                    <%} %>
            </section>
        </header>
        <main>
            <h3>Gerenciar Salas</h3>
            <div class="manager-rooms">
                <% rooms.forEach(element=> { %>
                    <form method="post" class="room">
                        <label for="name-room">Nome da Sala</label>
                        <input type="text" value="<%= element.name_room %>" name="nameRoom" id="name-room">
                        <label for="description-room">Descrição</label>
                        <textarea type="text" name="description"
                            id="description-room" maxlength="240" rows="10" cols="50">
                            <%= element.description %>
                        </textarea>
                        <div class="div-buttons">
                        <input type="hidden">
                            <button type="submit" class="btn-alterar">Salvar Alterar</button>
                            <button type="submit"class="btn-excluir">Excluir</button>
                        </div>
                    </form>
                    <% }) %>
            </div>
        </main>
    </div>
</body>

</html>