<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./Styles/socialArea.css" />

  <title>Socket IO</title>
</head>

<body>
  <div class="container">
    <header class="lateral-menu">
      <section class="itens-menu">
        <span>Nome </span>
        <span> Username:</span>
        <span>Setor: </span>
        <span>Cargo: </span>
        <section>Pessoal Online: </section>
      </section>

    </header>
    <main class="container-rooms">
      <div class="div-room">
        <h3>Salas de Bate Papo</h3>
        <div class="personal-rooms">
          <span class="sp-name-room">Criar Sala</span>
          <p class="p-description-room">
            Crie Suas Proprias Salas Para Discutir Assuntos do seu setor
            ou qualquer outro assunto
          </p>
        </div>
      </div>
    </main>
  </div>
</body>
  <script src="/javascript/socialArea.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js "></script> 
</html>