body {
    outline: none;
    background-color: #1A1924;
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
  
    margin: 10px;
    padding: 5px;
  
    margin-top: 140px;
  }

 
  button {
    width: 400px;
    height: 40px;
    background: #07847E;
  
    outline: none;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  select,
  .input-patter {
    width: 395px;
    height: 30px;
    border-radius: 10px;
    background-color: #07847E;
    color: #E1E1E6;
    padding: 5px 6px;
    outline: none;
    border-color: transparent ;
  }

  a{
    color: white;
    text-decoration: none;
  }
  ::placeholder{
    color: rgb(216, 216, 216);
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    margin-top: 18px;
    max-height: 500px;
    height: auto;

    
  }
  body::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px; 
  }

  body::-webkit-scrollbar {
    width: 6px;
    background: #f4f4f4da;
    border-radius: 6px;
  
  }
  body::-webkit-scrollbar-thumb {
    background: #8d0d0d;
    border-radius: 5px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .new_message {
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    background-color: #633BBC;
    min-width: 200px;
    word-break: break-all;
    margin-left: 220px;
  }
  
  .logout {
    background: rgb(56, 3, 3);
    cursor: pointer;
  }

  .user_input{
    display: flexbox;
    background-color: #07847E;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
    min-width: 200px;
    max-width: 400px; 
    word-break: break-all;
    position: relative;
  }
  .user_input > label > div, .new_message > label > div{
    font-size: 1.2em;
  }

  .register-btn{
    display: block;
    width: 400px;
    height: 40px;
    background-color: #07847E;
    color: #FFF;
    line-height: 40px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-family: Arial;
  }
  .register-btn:hover{
    background-color: #07847e80;
  }
  .register-btn:visited{
    color: #FFF;
  }

  .input-user{
    height: max-content;
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
  }
  #inp-upload-arq{
    max-width: 0px; 
  }
  #message_input{
    max-width: 350px; 
  }
  
  #inp-upload-arq::-webkit-file-upload-button{
    visibility: hidden;
  }

  #div-upload-arq{
    max-width: 45px;
    max-height: 45px;
    display: flex;
    border-radius: 5px;
    border: 2px;
    margin-left: 2px;
    cursor: pointer;
  }
  #div-upload-arq > label > img:nth-child(1), #div-upload-arq > label{
    height: 100%;
    cursor: pointer;
  }
 
  .image-div{
    margin: 2px;
    display: flex;
    min-height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    max-width: 330px;
    max-height: 330px;
    border-radius: 5px;
    border: 5px;
    background-color: #08b9b1f8;
    padding: 5px;
  }

  .upImage{
    max-height: 320px;
    max-width: 320px;
    min-height: 50px;
    min-width: 50px;
    height: auto;
    width: auto;
  }
  #image-user{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #07847E;
    padding: 5px 0 5px 0;
    margin-top: 5px;
    border-radius: 5px;
    margin-right: 42px;
  }
  #image-user > span{
    cursor: pointer;
  }

  .upImage-status{
    
    margin-top: 10px;
    height: 10px;
    width: inherit;
    border: solid 1px gray;
}
.upImage-status > div{
    background-color: rgb(49, 49, 49);
    color: rgb(141, 3, 3);
    height: 100%;
    text-align: right;
    width: 0%;
}
 





 