html {
  height: 100%;
  width: 100%;
}

body {
  outline: none;
  background-color: #1a1924;
  color: white;
  width: 100%;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

::placeholder {
  color: rgb(216, 216, 216);
}


body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

body::-webkit-scrollbar {
  width: 6px;
  background: #f4f4f4da;
  border-radius: 6px;

}

body::-webkit-scrollbar-thumb {
  background: #8d0d0d;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  flex-wrap: wrap;
  height: 100%;
}
.chat-content{
  display: flex;
  flex-direction: column;
  width: 78%;
}
.new_message {
  padding: 5px;
  margin: 3px;
  border-radius: 10px;
  background-color: #633BBC;
  min-width: 100px;
  word-break: break-all;
  margin-left: 50%;
}


.user_input {
  width: 100%;
  background-color: #07847E;
  border-radius: 10px;
  padding: 5px;
  margin: 3px;
  min-width: 200px;
  max-width: 50%;
  word-break: break-all;
  margin-bottom: 5px;
}

.user_input>label>div,
.new_message>label>div {
  font-size: 1.2em;
}




.input-user {
  height: max-content;
  width: 100%;
  background-color: #07847E;
  border-radius: 10px;
  padding: 3px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

#inp-upload-arq {
  max-width: 0px;
}

#message_input {
  margin-right: 3px;
  border-radius: 5px;
  width: 95%;
}

#inp-upload-arq::-webkit-file-upload-button {
  visibility: hidden;
}

#div-upload-arq {
  max-width: 45px;
  max-height: 45px;
  display: flex;
  border-radius: 5px;
  border: 2px;
  margin-left: 2px;
  cursor: pointer;
}

#div-upload-arq>label>img:nth-child(1),
#div-upload-arq>label {
  height: 100%;
  cursor: pointer;
}
#div-upload-arq svg{
  fill: black;
  transition: 300ms ;
}

#div-upload-arq svg:hover {
  fill: white;
  
}

.image-div {
  margin: 2px;
  display: flex;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  max-width: 330px;
  max-height: 330px;
  border-radius: 5px;
  border: 5px;
  padding: 5px;
}

.uploadArq {
  max-height: 320px;
  max-width: 320px;
  min-height: 50px;
  min-width: 50px;
  height: auto;
  width: auto;
}

#file-user {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #07847E;
  padding: 5px 0 5px 0;
  margin-top: 5px;
  border-radius: 5px;
  margin-right: 42px;
}

#image-user>span {
  cursor: pointer;
}

