body{
    margin: 0;
}
.itens-menu{
    margin: 0;
    position: fixed;
    top: 0;
    background-color: #25242f;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    height: 100%;
    z-index: 1;
    left: 0;
    overflow-x: hidden
}
.itens-menu > span{
    margin: 5px;
}
.itens-menu > section {
    margin-top: 10px;
}
.itens-menu > form > button {
    width: 100%;
    margin-right: 5px;
    margin-top: 5px;
    height: 30px;
    background-color: #444164;
    border: 0;
    color:  white;
    border-radius: 5px;
    cursor: pointer;
}
.btn-patter:hover {
    background-color: #07847E;
    transition: background-color 200ms linear;
}
#btn-logout:hover {
    background-color: #8d0d0d;
    transition: background-color 200ms linear;
}