html,body{
    height: 99.9%;
    width: 99.5%;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: #1a1924;
    color: white;
}
.container{
    height: 100%;
    width: 100%;
    width: 100%;
    flex-direction: row;
    display: flex;
    height: 100%;
}

.lateral-menu{
    background-color: #25242f;
    width: 20%;
    flex-direction: column;
    display: flex;
    padding-left: 8px;
    padding-right: 2px;
    height: 100%;
}
.lateral-menu > h3 {
    align-self: center;
}
.itens-menu{
    display: flex;
    flex-direction: column;
}
.itens-menu > span{
    margin: 5px;
}
.itens-menu > section {
    margin-top: 10px;
}
.itens-menu > form>  button {
    width: 98%;
    margin-right: 5px;
    margin-top: 5px;
    height: 30px;
    background-color: #444164;
    border: 0;
    color:  white;
    border-radius: 5px;
    cursor: pointer;
}
.manager-rooms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.room{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background-color: #444164;
    padding: 5px;
    margin: 5px;
}

.room> textarea{
    height: 150px;
    resize: none;
    
}

.div-buttons{
    display: flex;
    flex-direction: row;
    
}
.div-buttons> button{
    margin: 5px 5px 0 0;
    width: 50%;
    background: #6a659b;
    color: white;
    border: 0;
    border-radius: 5px;
    height: 20px;
    cursor: pointer;
}

.btn-alterar:hover{
    background-color: #07847E;
    border-radius: 5px;
    transition: background-color 150ms linear;
}

.btn-excluir:hover{
    background-color: #8d0d0d;
    border-radius: 5px;
    transition: background-color 150ms linear;
}

