html {
    width: 100%;
    height: 100%;
}

body {
    outline: none;
    background-color: #1A1924;
    color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container{
    margin-left: 255px;
    height: 100%;
    width: 100%;
    width: 100%;
    flex-direction: row;
    display: flex;
    height: 100%;
}
.manager-rooms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.room{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background-color: #444164;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.room> textarea{
    height: 150px;
    resize: none;
}

.div-buttons{
    display: flex;
    flex-direction: row;
    
}
.div-buttons> button{
    margin: 5px 5px 0 0;
    width: 50%;
    background: #6a659b;
    color: white;
    border: 0;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
}

.btn-alterar:hover,.btn-permisionUsers:hover{
    background-color: #07847E;
    border-radius: 5px;
    transition: background-color 150ms linear;
}

.btn-excluir:hover{
    background-color: #8d0d0d;
    border-radius: 5px;
    transition: background-color 150ms linear;
}

.div-usersManager{
    display: flex;
    flex-direction: column;
}

.users-checkbox{
    display: flex;
    flex-direction: column;
}
.div-usersPermission{
    display: flex;
    margin-bottom: 10px;
}
.div-checkbox{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.div-checkbox > input{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}


