html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: #1a1924;
    color: white;
}
.container{
    height: 100%;
    width: 100%;
    width: 100%;
    flex-direction: row;
    display: flex;
    height: 100%;
}


.container-rooms{
    display: flex;
    margin-left: 2px;
    width: 80%;
}
.div-room{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.create-room{
    margin-left: 5px;
    max-height: 200px;
    margin-bottom: 5px;
    display: flex; 
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    border-left: 5px;
    background-color: #2f2d41;
    cursor: pointer;
    word-wrap: break-word;
}
.div-rooms-created{
    margin-left: 5px;
    max-height: 200px;
    margin-bottom: 5px;
    display: flex; 
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    border-left: 5px;
    cursor: pointer;
    word-wrap: break-word;
}

.create-room:hover,.room-created:hover{
    background-color: #07847E;
    transition: background-color 200ms linear;
}
.room-created{
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #2f2d41;
}
.sp-name-room{
    margin-top: 10px;
    margin-left: 5px;
}

.p-description-room{
    max-width: 95%;
    margin-left: 25px;
   letter-spacing: 0.1rem;
}